body{
  margin: 0;
}

nav {
  background-color: rgb(21, 173, 161);
  padding-bottom:23px ;

}
nav a {
  color: white;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  float: left;
  font-family: sans-serif ;
  font-size: large;

}
nav input[type=text] {
  float: center;
  padding: 6px;
  border: none;
  margin-top: 14px;
  margin-left: 200px;
  font-size: 17px;
}
nav a:hover {

  color: white;
  background-color:rgb(12, 129, 119);
}
.sign-in {
font-size: 18px;
float: right;
padding: 17px;
display: block;
margin-top:6px ;
border-radius: 50px;

}
nav img{
margin-left: 10px;
margin-top: 3px;
margin-right: 10px;
float: left;
width: 60px;
height: 60px;

}

.container {
align-items: center;
justify-content: center;
display: flex;
background-color: rgb(241, 243, 244);
}
.image {
width: 50%;
margin-top: 130px;
}
 img {
  max-width: 100%;
  max-height: 100%;


}
.image img{
  
  border: solid black 5px;
  box-shadow: 12px 12px 2px 1px rgb(114,122,124);
}


.text {
font-size: 20px;
padding-left: 90px;

}

h1{
font-size: 50px;
}
h3 {
padding: 2px;
font-size: 20px;
font-family: serif;
}

.icon {
position: relative;
display: inline-block;
}

.icon .hidden {
visibility: hidden;
width: 80px;
background-color: rgba(0, 0, 0, 0.61);
color: #fff;
text-align: center;
border-radius: 7px;
padding: 5px;
font-size: 16px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
position: absolute;
z-index: 1;
top: 80%;
left: 50%;


}

.icon:hover .hidden {
visibility: visible;
}
.reading {
background-color: bisque;
}
.reading svg {
display: block;
}
.ok {
margin-top: 300px;
}
.reading h1{
margin-bottom: 40px;
color:rgb(126, 90, 42);

}
.container2 {
align-items: center;
display: flex;
padding-top: 100px;
}

.book {
margin-left: 50px;
width: 50%;

}
.book img{
border:solid rgb(126, 90, 42) 5px;
box-shadow: 12px 12px 2px 1px rgb(193, 148, 89);

}

.library {
margin-left: 120px;
padding-bottom: 40px;
font-size: 20px;
}

footer{
  margin-top: 300px;
  background-color: rgb(82, 82, 82);
  padding: 20px;
}
.copyright {
  text-align: right;
  color:white;
}
